@model IEnumerable<Project.Models.LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create","Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CID}) |
            @Html.ActionLink("Details", "Details", new { id=item.CID}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CID })
        </td>
    </tr>
}

</table>
